.ac_name_heading{
    margin:  0;
    font-size: 32px;
    font-weight: 700;
}

.candidate-list_item{
    position: relative;
    width: 80%;
    margin: 16px auto;
    background-color: rgb(206, 206, 206);
    border-radius: 15px;
    max-width: 360px;
}

.candidate-list_item > *{
    display: inline-block;
    vertical-align: middle;
    padding: 24px;
    color: white;
}

.candidate-list_image{
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 50%);
    border-radius: 50%;
    margin: 8px auto 16px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Sun_Cross_Swastika.svg/1024px-Sun_Cross_Swastika.svg.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 46px 46px;
    background-color: white;
}

.candidate-list_name{
    display: block;
    text-align: left;
    font-size: 12px;
    font-weight: 700;
}

.candidate-list_party{
    width: 200px;
    font-size: 12px;
    font-weight: 700;
}

.candidate-list_votes, .candidate-list_votepercent{
    width: 48px;
    text-align: left;
    margin: 8px;
    font-weight: 700;
}

.BJP > .candidate-list_image{
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Lotos_flower_symbol.svg/1024px-Lotos_flower_symbol.svg.png");
    background-size: 36px 36px;
}

.INC > .candidate-list_image{
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Hand_INC.svg/1024px-Hand_INC.svg.png");
    background-size: 48px 48px;
}

.AAP > .candidate-list_image{
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/02/AAP_Symbol.png");
    background-size: 48px 16px;
}

.candidate-list_item:first-child{
    transform: scale(1.1, 1.05);
}